body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
}

#map {
  height: calc(100vh - 100px);
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 6px;
  font-size: 13px;
}

.leaflet-popup-content {
  font-size: 14px;
}

.activo { color: green; font-weight: bold; }
.caido { color: red; font-weight: bold; }
.inestable { color: orange; font-weight: bold; }
